{% extends "base.html" %}

{% block content %}
  <h1>
    {{ car.model }}
  </h1>
  <p>Manufacturer: ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</p>
  <h1>Drivers</h1>
  <ul>
    {% for driver in car.drivers.all %}
      <li>{{ driver.username }} ({{ driver.first_name }} {{ driver.last_name }})</li>
    {% endfor %}
  </ul>
  
  <div style="margin-top: 20px;">
    <form method="post" style="display: flex;">
      {% csrf_token %}
      {% if request.user in car.drivers.all %}
        <button type="submit" name="remove" class="btn btn-warning">Delete me from this car</button>
      {% else %}
        <button type="submit" name="assign" class="btn btn-primary">Assign me to this car</button>
      {% endif %}
    </form>
  </div>
    
  <div style="margin-top: 20px;">
    <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
    <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </div>    
{% endblock %}
